<footer class="wi-100 mw7 center db ptl pbl">

  <div class="center tc f3">
    <a class="link" href="https://github.com/ccorcos">
      <span class="entypo-social github mls mrs"></span>
    </a>
    <a class="link" href="https://facebook.com/ccorcos">
      <span class="entypo-social facebook mls mrs"></span>
    </a>
    <a class="link" href="https://www.linkedin.com/pub/chet-corcos/31/811/60b">
      <span class="entypo-social linkedin mls mrs"></span>
    </a>
    <a class="link" href="https://twitter.com/ccorcos">
      <span class="entypo-social twitter mls mrs"></span>
    </a>
    <a class="link" href="mailto:ccorcos@gmail.com">
      <span class="entypo mail mls mrs"></span>
    </a>

    <!-- <span class="entypo phone"></span> -->

  </div>
</footer>
