<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width initial-scale=1">

  <title>{% if page.title %}{{ page.title }}{% else %}{{ site.title }}{% endif %}</title>
  <meta name="author" content="{{site.author}}">
  <meta name="description" content="{% if page.excerpt %}{{ page.excerpt | strip_html | strip_newlines | truncate: 160 }}{% else %}{{ site.description }}{% endif %}">

  <link rel="stylesheet" href="{{ "/css/taychons.css" | prepend: site.baseurl }}">
  <link rel="stylesheet" href="{{ "/css/style.css" | prepend: site.baseurl }}">
  <link rel="stylesheet" href="{{ "/css/resume.css" | prepend: site.baseurl }}">
  <link rel="stylesheet" href="{{ "/css/entypo.css" | prepend: site.baseurl }}">
  <link rel="canonical" href="{{ page.url | replace:'index.html','' | prepend: site.baseurl | prepend: site.url }}">
  <link rel="alternate" type="application/atom+xml" title="{{ site.title }}" href="{{ "/feed.xml" | prepend: site.baseurl | prepend: site.url }}" />

  <!-- Favicons and Touch Device Icons -->
  <!-- <link rel="shortcut icon" href="favicon.ico"> -->
  <!-- <link rel="apple-touch-icon" href="touch-icon-iphone-precomposed.png"> -->
  <!-- <link rel="apple-touch-icon" sizes="72x72"   href="touch-icon-ipad-precomposed.png"> -->
  <!-- <link rel="apple-touch-icon" sizes="120x120" href="touch-icon-iphone-retina-precomposed.png"> -->
  <!-- <link rel="apple-touch-icon" sizes="152x152" href="touch-icon-ipad-retina-precomposed.png"> -->

  <!-- <link rel="image_src" href="{{ "/img/red_bridge_guitar.jpg" | prepend: site.baseurl }}" / > -->
  <!-- <link rel="image_src" href="{{ "/img/etruck.hood.jpg" | prepend: site.baseurl }}" / > -->
  <!-- <link rel="image_src" href="{{ "/img/snowboarding.jpg" | prepend: site.baseurl }}" / > -->
  <!-- <link rel="image_src" href="{{ "/img/rope_swing.jpg" | prepend: site.baseurl }}" / > -->
  <!-- <link rel="image_src" href="{{ "/img/traverse_creek.jpg" | prepend: site.baseurl }}" / > -->
  <link rel="image_src" href="{{ "/img/lost_coast.jpg" | prepend: site.baseurl }}" / >

</head>
