<div>
  <div class="wi-100 mw7 center db ptl desktop">
    <div class="db">
      <div class="db fr ptm">
        {% for p in site.pages %}
        {% if p.title %}
          <div class="di prm">
            <a class="link
              {% if p.url == page.url %}
                b
              {% endif %}
              {% if p.name == 'blog.html' and page.categories contains 'blog' %}
                b
              {% endif %}
              {% if p.name == 'projects.html' and page.categories contains 'projects' %}
                b
              {% endif %}"
              href="{{p.url | prepend: site.baseurl}}">
              {{p.title}}
            </a>
          </div>
        {% endif %}
        {% endfor %}
      </div>
      <h1 class="normal plm">
        <a class="link {% if '/' == page.url %} b {% endif %}" href="{{site.baseurl}}/">{{ site.title }}</a>
      </h1>
    </div>
  </div>

  <div class="wi-100 mw7 center db ptl mobile">
    <h1 class="normal tc">
      <a class="link {% if '/' == page.url %} b {% endif %}" href="{{site.baseurl}}/">{{ site.title }}</a>
    </h1>
    <div class="db tc pbl">
      <div class="db ptm">
        {% for p in site.pages %}
        {% if p.title %}
        <div class="di prm plm">
          <a class="link
          {% if p.url == page.url %}
          b
          {% endif %}
          {% if p.name == 'blog.html' and page.categories contains 'blog' %}
          b
          {% endif %}
          {% if p.name == 'projects.html' and page.categories contains 'projects' %}
          b
          {% endif %}"
          href="{{p.url | prepend: site.baseurl}}">
          {{p.title}}
        </a>
      </div>
      {% endif %}
      {% endfor %}
      </div>
    </div>
  </div>


  {% if page.name == 'blog.html'%}
    <img class="pano" src="/img/panos/heavenly.png" alt="" />
  {% endif %}

  {% if page.categories contains 'blog' %}
    <img class="pano" src="/img/panos/heavenly.png" alt="" />
  {% endif %}



  {% if page.name == 'projects.html'%}
    <img class="pano" src="/img/panos/tahoe_purple.jpg" alt="" />
  {% endif %}

<!-- {% if page.categories contains 'projects' %}
  <img class="pano" src="/img/panos/tahoe_purple.jpg" alt="" />
{% endif %} -->



  {% if page.name == 'research.md' %}
    <img class="pano" src="/img/panos/venice.jpg" alt="" />
  {% endif %}



  {% if page.name == 'resume.md' %}
  {% endif %}

</div>
